@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/text-shadow";

.header-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 9999;

    background: rgba(0,0,0,0.7);
}

header {
    position: absolute;
    width: 100%;
}

.logo {
   float: left;
   margin: 5px 20px;
   width: 200px;
   height: auto;

    img {
        width: 100%;
    }
}

.nav {
    float: right;
    a {
        position: relative;
        display: inline-block;

        margin: 10px 20px;
        outline: none;
        padding: 5px;

        color: white;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.35em;

        @include text-shadow(0 0 1px rgba(255,255,255,0.3));

        &:after {
            position: absolute;
            top: 100%;
            left:0;
            width: 100%;
            background: white;
            height: 1px;
            content: '';
            opacity: 0;
            bottom: 0;
            @include transition(height 300ms, opacity 300ms, transition 300ms);
            @include transform(translateY(-10px));
        }
    }

    a.active,
    a:focus,
    a:hover {
        color: white;

        &:after {
            opacity: 1;
            height: 5px;
            @include transform(translateY(0px));
        }
    }
}

