@import "compass/reset";
@import "compass/css3/font-face";
@import "compass/css3/box-sizing";

@include font-face(
    "candara",
    font-files(
        "candara-webfont.woff"
    ), "candara-webfont.eot", normal, normal);
@include font-face(
    "sansumi",
    font-files(
        "sansumi-ultralight-webfont.woff"
    ), "sansumi-ultralight-webfont.eot", normal, normal);

*, *::after, *::before {
  @include box-sizing(border-box);
}

body {
  font-family: "candara", Arial, sans-serif;
  font-weight: 500;
  line-height: 20px;
  font-size: 100%;
  color: #797979;
}

ul { list-style: none outside; }
p {
    margin: 0 0 20px;
    padding: 0;
}
a { outline: none; }