@import "layout";

body {
  font-family: "candara", Arial, sans-serif;
}

.page-wrap {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto 40px;
}



.logo {
   width: 300px;
   height: 300px;
   position: absolute;
   left: 50%;
   top: 50%;
   margin-left: -150px;
   margin-top: -150px;

    img {
        width: 100%;
    }
}

@import "portfolio";