header {
  color: #000;
  margin-bottom: 0px !important;

  button.navbar-toggle { margin-bottom: 20px; }
}

header > .container-fluid {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 30px;
  padding-right:30px;
}

@media (max-width: 768px) {
  header > .container-fluid {
    margin-top: 15px;
    margin-bottom: 0px;
  }
}
.navbar-collapse {
  background-color: #f8f8f8;

  .navbar-nav {
    margin: 0;
  }
}

.navbar-brand {
    font-family: $primary-font;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
    width: 150px;
}



.navigation {
    position: fixed;
    top: 28px;
    right: 30px;
    line-height: 24px;
    nav {

        a {
            position: relative;
            display: inline-block;

            margin-left: 30px;
            padding: 10px 15px;
            outline: none;

            font-size: 13px;
            color: #000;
            white-space: nowrap;
            letter-spacing: 1px;
            -webkit-transition: background 300ms ease, color 300ms ease;
               -moz-transition: background 300ms ease, color 300ms ease;
                -ms-transition: background 300ms ease, color 300ms ease;
                 -o-transition: background 300ms ease, color 300ms ease;
                    transition: background 300ms ease, color 300ms ease;
            &:after {
                position: absolute;
                display: block;
                left: 15px;
                right: 15px;
                bottom: 5px;
                height: 1px;

                content: '';
                background: #000;
                opacity: 0;
                -webkit-transition: opacity 300ms ease;
                   -moz-transition: opacity 300ms ease;
                    -ms-transition: opacity 300ms ease;
                     -o-transition: opacity 300ms ease;
                        transition: opacity 300ms ease;
            }
        }

        a.active,
        a:focus,
        a:hover {
            &:after {
                opacity: 0.3;
            }
        }
    }
}
