
.projects-wrapper {
  width: 100%;
  height: 100%;
}

.project {
  border: 1px solid white;
  overflow: hidden;
  width: 360px;
  height: 360px;

  .image {
    width: 100%;
    height: 100%;
  }
}

.image {
  position: relative;
  z-index: 10;
}
.small {
  width: 225px;
}

.large {
  width: 550px;
}
