---
layout: default
---
<div class="main">
  <div class="projects-wrapper">
    {% for project in site.data.projects %}
    <div class="project {{ project.type }}">
      <div class="image">
        <img src="{{ project.image }}" />
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% include footer.html %}
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/jquery-backstretch/jquery.backstretch.js"></script>
<script src="/bower_components/isotope/dist/isotope.pkgd.js"></script>
<script src="/bower_components/isotope-masonry-horizontal/masonry-horizontal.js"></script>
<script src="/scripts/jquery.mousewheel.js"></script>
<script src="/scripts/jquery.scroll.js"></script>
<script src="/scripts/main.js"></script>
