@import 'snippets'

+font-face('sansumi-ultralightregular', '../fonts/sansumi-ultralight-webfont', 'sansumi-ultralightregular')
+font-face('candararegular', '../fonts/candara-webfont', 'candararegular')

$logo-color-bg: rgb(50, 52, 51)
$logo-font-color: rgb(255, 255, 255)

.font-sansumi
  font-family: sansumi-ultralightregular