@font-face {
  font-family: "sansumi-ultralightregular";
  src: url("../fonts/sansumi-ultralight-webfont.eot");
  src: url("../fonts/sansumi-ultralight-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sansumi-ultralight-webfont.woff") format("woff"), url("../fonts/sansumi-ultralight-webfont.ttf") format("truetype"), url("../fonts/sansumi-ultralight-webfont.svg#sansumi-ultralightregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "candararegular";
  src: url("../fonts/candara-webfont.eot");
  src: url("../fonts/candara-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/candara-webfont.woff") format("woff"), url("../fonts/candara-webfont.ttf") format("truetype"), url("../fonts/candara-webfont.svg#candararegular") format("svg");
  font-weight: normal;
  font-style: normal; }
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.font-sansumi {
  font-family: sansumi-ultralightregular; }

body {
  font-family: "candararegular", sans-serif;
  font-size: 100%;
  overflow: hidden; }

header {
  width: 90%;
  margin: 0 auto; }
  header nav {
    display: inline-block; }

header > .wrapper {
  padding-top: 3em; }

.logo {
  position: absolute;
  top: 3em;
  left: 5em;
  z-index: 10; }
  .logo .shape {
    position: relative;
    width: 10em;
    height: 10em;
    color: white;
    border: 2px dashed #323433;
    border-radius: 50%;
    padding: 2px; }
    .logo .shape .logo-content {
      display: block;
      margin: 2em auto; }
      .logo .shape .logo-content .name {
        margin: auto 10px;
        font-size: 1.4em;
        text-align: center; }
      .logo .shape .logo-content .subtitle {
        margin-top: 12px;
        text-align: center;
        vertical-align: middle; }
  .logo .shape:before {
    position: absolute;
    top: 2px;
    right: 2px;
    left: 2px;
    bottom: 2px;
    z-index: -1;
    content: "";
    border-radius: 50%;
    background-color: #323433; }

.main-nav {
  margin-left: 10em;
  padding: 2em 3em;
  display: inline-block; }
  .main-nav a {
    position: relative;
    display: inline-block;
    float: left;
    margin: 0.5em;
    padding: 0.5em;
    font-weight: 700;
    color: #535f60;
    outline: none;
    letter-spacing: 1px;
    text-decoration: none;
    text-shadow: none;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s; }
  .main-nav a:before,
  .main-nav a:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #3689a6;
    content: "";
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px); }
  .main-nav a:before {
    top: 0;
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px); }
  .main-nav a:after {
    bottom: 0;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px); }
  .main-nav a.active,
  .main-nav a:hover,
  .main-nav a:focus {
    color: #3689a6;
    outline: none; }
  .main-nav a.active:before,
  .main-nav a.active:after,
  .main-nav a:hover:before,
  .main-nav a:focus:before,
  .main-nav a:hover:after,
  .main-nav a:focus:after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px); }
  .main-nav .main-culture {
    display: none; }

#slides-container {
  height: 500px; }
  #slides-container img {
    width: 100%;
    height: 100%; }
